

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  overflow-y: visible;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
border-color: gold;
box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
color: gold !important;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0% !important;
}

.spacer {
  margin-bottom: 2% ;
  margin-top: 2% ;
}
.horizontal-spacer {
  margin-right: 0.5%;
}
.content-area {
  height: 100% !important;
  min-height: 100% !important;
}

.scrollbar {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: dark;
}

.scrollable {
  position: absolute;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: dark;
  left: 10% !important;
  max-width: 82% !important;
  max-height: 80% !important;
  transform: scale(1);
  transition: width 0.5s ease-in, height 0.5s ease-in, transform 0.5s ease-in;
}

.layout-area {
  position: relative;
  left: 1% !important;
  top: 1% !important;
  bottom: 1% !important;
  right: 1% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  transform-origin: 0% 0% 0px;
  transform: scale(0.9);
  transition: width 0.5s ease-in, height 0.5s ease-in, transform 0.5s ease-in;
  border-radius: 5px;
}
.side-bar {
  top: 4px !important;
  border-radius: 3px;
}
.side-bar-right {
  top: 4px !important;
  width: 20% !important;
  border-radius: 3px;
}
.left-side-bar {
  
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 30%;
  border-radius: 5px;
}
.right-side-bar {  
  /* margin: auto; */
  margin-top: 0%;
  margin-bottom: 20%;
  width: 100%;
  border-radius: 5px;
}
.right-side-text-input {
  float: right;
  width: 30% !important;
  height: 50% !important;
  margin-right: 5% !important;
}
.right-side-wrapper {
  display: flex;
}

.mock-container {
  /* border: 2px solid gray; */
  border-radius: 3px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  width: 90% !important;
  height: 10% !important;
}
.mock-button {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0em;
  width: 90% !important;
  height: 10% !important;
  pointer-events: none;
  border-radius: 3px;
}
.mock-input {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0em;
  width: 90% !important;
  height: 10% !important;
  pointer-events: none;
  border-radius: 3px;
}
.mock-label {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0em;
  width: 90% !important;
  height: 10% !important;
  border-radius: 3px;
}
.toolbar-card {
  border-radius: 5px;
  height: 10% !important;
  margin: .5rem 0 .5rem 0;
}
.toolbar-btn {
  height: 100% !important;
}
.wireframe-option {
  margin-right: 10px !important;
  border-radius: 5px;
  max-width: 10% !important;
  height: 2em !important;
}
.wireframe-control {
  position: absolute;
}
.input-field {
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}
.color-wrapper {
  float: right;
  background-color: gold;
  border-radius: 50%;
	width: 40px;
  height: 40px;
  margin-top: -10%;
  margin-bottom: 20%;
}

input[type="color"] {
  float: right;
  opacity: 0;
  border: none;
  border-radius: 50% ;
	width: 40px ;
  height: 40px ;
}


.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}